/.gradle/
/.idea/
.idea/

/core/build/
/api/logs/
/api/build/
/core/gradle/
/api/gradle/
/logs/
/event/.gradle/
/event/build/
/event/gradle/
/messaging/.gradle/
/messaging/build/
/messaging/gradle/
/messaging/logs/
